.topnav{
    background-color: #333;
    overflow: hidden;
}    
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text=decoration: none;
    font-size: 17px;
}
.top a:hover{
    background-color: #ddd;
    color: black;
}
.topnav a.active{
    background-color: #4CAF50;
    color: white;
}    
h1{
    text-align: center;
}
section#basic_html h2{
    text-align: center;
    color: #B6E3E9;

}
section#basic_html table{
    width: 650px;
    margin: auto;
    border: solid rgba(79, 163, 202, 0.3) 2px;
}
section#basic_html table td{
    text-align: center;
    border-top: solid rgba(182, 227, 233, 0.3) 2px;
}
section#basic_html th{
    background-color:rgba(182, 227, 233, 0.3);
}
section#basic_html #description{
    text-align:left;
    border-top: solid rgba(182, 227, 233, 0.3) 2px;
}
section#basic_html .code{

    background-color:rgba(179,202,245,0.3);   
}
section#Formatting h2{
    text-align: center;
    color: coral;
}
section#Formatting table{
    width: 650px;
    margin: auto;
    border: solid rgba(255,127,80, 0.3) 2px;
}
section#Formatting table td{
    text-align: center;
    border-top: solid rgba(255,127,80, 0.3) 2px;
}
section#Formatting th{
    background-color: rgba(255,127,80, 0.3);
}
section#Formatting #description{
    text-align: left;
    border-top: solid rgba(255,127,80, 0.3) 2px;
}
section#Formatting .code{
    background-color:rgba(255,127,80, 0.3);
}
